# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.streamlit/
venv/
newenv/

# folder
chroma_db_database/
chroma_db_Database2/

# macOS
.DS_Store

build_database.py
app.py